name: mint-openapi-service
project: mintyn-project
namespace: sandbox
values: |-
  fullnameOverride: openapi-service
  image: 
    repository: mintfintech/mint-openapi-service:app-142
  namespace: sandbox
  containerPort: 9091
  autoscaling:
    enabled: false
  role:
    enabled: true
  ingress:
    host: sandbox-openapi
    domain: mintfintech.com
  resources:
    requests:
      memory: "400Mi"
      cpu: "40m"
    limits:
      memory: "1Gi"
      cpu: "750m"
  lProbe:
    enabled: true
    path: /actuator/health
    failureThreshold: 5
    periodSeconds: 10
    initialDelaySeconds: 60
  rProbe:
    enabled: true
    path: /actuator/health
    failureThreshold: 5
    periodSeconds: 10
    initialDelaySeconds: 60
  env:
    - name: OPENAPI_SERVICE_SERVICE_HOST
      value: http://openapi-service
    - name: KUBERNETES_NAMESPACE
      value: sandbox
    - name: SPRING_PROFILES_ACTIVE
      value: sandbox
    - name: KAFKA_BROKERS_URL
      valueFrom:
        configMapKeyRef:
          name: configs
          key: KAFKA_HOST
    - name: TOKEN_MS_SECRET_KEY
      valueFrom:
        configMapKeyRef:
          name: configs
          key: TOKEN_MS_SECRET
    - name: TOKEN_CLIENT_SECRET_KEY
      valueFrom:
        configMapKeyRef:
          name: configs
          key: TOKEN_CLIENT_SECRET
  volumeMounts:
    - name: config
      mountPath: "/config"
      readOnly: true
  volumes:
    - name: config
      configMap:
        name: openapi-service
