name: account-service
project: mintyn-project
namespace: production
values: |-
  fullnameOverride: account-service
  image: 
    repository: mintfintech/mint-account-service:app-128
  namespace: production
  containerPort: 8091
  autoscaling:
    enabled: false
  role:
    enabled: true
  ingress:
    host: account-service
    domain: mintfintech.com
  resources:
    requests:
      memory: "600Mi"
      cpu: "150m"
    limits:
      memory: "2Gi"
      cpu: "1000m"
  lProbe:
    enabled: true
    path: /actuator/health
    failureThreshold: 5
    periodSeconds: 10
    initialDelaySeconds: 60
  rProbe:
    enabled: true
    path: /actuator/health
    failureThreshold: 5
    periodSeconds: 10
    initialDelaySeconds: 60
  env:
    - name: ACCOUNT_SERVICE_SERVICE_HOST
      value: http://account-service
    - name: KUBERNETES_NAMESPACE
      value: production
    - name: SPRING_PROFILES_ACTIVE
      value: prod
    - name: KAFKA_BROKERS_URL
      valueFrom:
        configMapKeyRef:
          name: configs
          key: KAFKA_HOST
    - name: TOKEN_MS_SECRET_KEY
      valueFrom:
        configMapKeyRef:
          name: configs
          key: TOKEN_MS_SECRET
    - name: TOKEN_CLIENT_SECRET_KEY
      valueFrom:
        configMapKeyRef:
          name: configs
          key: TOKEN_CLIENT_SECRET
  volumeMounts:
    - name: config
      mountPath: "/config"
      readOnly: true
  volumes:
    - name: config
      configMap:
        name: account-service
