name: apimerchant-app
project: mintyn-project
namespace: production
values: |-
  fullnameOverride: apimerchant-app
  image: 
    repository: mintfintech/apimerchant-app:prod-app-2
  namespace: production
  containerPort: 3000
  autoscaling:
    enabled: false
  role:
    enabled: true
  ingress:
    host: merchant-portal
    domain: mintyn.com
  resources:
    requests:
      memory: "10Mi"
      cpu: "10m"
    limits:
      memory: "200Mi"
      cpu: "100m"
  lProbe:
    enabled: true
    path: /
    failureThreshold: 5
    periodSeconds: 5
    initialDelaySeconds: 10
  rProbe:
    enabled: false
    path: /
    failureThreshold: 5
    periodSeconds: 5
    initialDelaySeconds: 10
