name: mint-admin-portal
project: mintyn-project
namespace: production
values: |-
  fullnameOverride: mint-admin-portal
  image: 
    repository: mintfintech/mintyn-admin-portal:prod-app-23
  namespace: production
  containerPort: 80
  autoscaling:
    enabled: false
  role:
    enabled: true
  ingress:
    host: portal
    domain: mintyn.com
  resources:
    requests:
      memory: "30Mi"
      cpu: "20m"
    limits:
      memory: "1Gi"
      cpu: "500m"
  lProbe:
    enabled: false
    path: /
    failureThreshold: 5
    periodSeconds: 5
    initialDelaySeconds: 10
  rProbe:
    enabled: false
    path: /
    failureThreshold: 5
    periodSeconds: 5
    initialDelaySeconds: 10
