name: quays-webapp
project: mintyn-project
namespace: production
values: |-
  fullnameOverride: quays-webapp
  image: 
    repository: goquays/quays-webapp:app-prod-36
  namespace: production
  containerPort: 3000
  autoscaling:
    enabled: false
  role:
    enabled: true
  ingress:
    host: app
    domain: goquays.com
  resources:
    requests:
      memory: "50Mi"
      cpu: "20m"
    limits:
      memory: "500Mi"
      cpu: "250m"
  lProbe:
    enabled: true
    path: /
    failureThreshold: 5
    periodSeconds: 5
    initialDelaySeconds: 10
  rProbe:
    enabled: true
    path: /
    failureThreshold: 5
    periodSeconds: 5
    initialDelaySeconds: 10
