name: fund-transaction-service
project: mintyn-project
namespace: production
values: |-
  fullnameOverride: fund-transaction-service
  image: 
    repository: mintfintech/mint-fund-transaction-service:app-153
  namespace: production
  containerPort: 8094
  autoscaling:
    enabled: false
  role:
    enabled: true
  ingress:
    host: fund-transaction-service
    domain: mintfintech.com
  resources:
    requests:
      memory: "640Mi"
      cpu: "150m"
    limits:
      memory: "2Gi"
      cpu: "1000m"
  lProbe:
    enabled: true
    path: /actuator/health
    failureThreshold: 5
    periodSeconds: 10
    initialDelaySeconds: 60
  rProbe:
    enabled: true
    path: /actuator/health
    failureThreshold: 5
    periodSeconds: 10
    initialDelaySeconds: 60
  env:
    - name: FUND_TRANSACTION_SERVICE_SERVICE_HOST
      value: http://fund-transaction-service
    - name: KUBERNETES_NAMESPACE
      value: production
    - name: SPRING_PROFILES_ACTIVE
      value: prod
    - name: KAFKA_BROKERS_URL
      valueFrom:
        configMapKeyRef:
          name: configs
          key: KAFKA_HOST
  volumeMounts:
    - name: config
      mountPath: "/config"
      readOnly: true
  volumes:
    - name: config
      configMap:
        name: fund-transaction-service
